
  body{
  background: #383838;
  font-family: 'Slabo 27px', serif;
}
h1{
    letter-spacing: 2px;
    font-size: 40px;
    color: blue;
    text-align: center;
}
nav{
  font-family: 'Bree Serif', serif;
  float:left;
  text-align: center;
  font-size: 20px;
}
nav li,footer li{
    display:inline;
    padding:40 px;
}
.bottom img{
  height:200px;
  width:350px;
  padding-bottom: 10px;
}
.col1,.col2,.col3{
  margin-left: 0;
  margin-right: 0;
}
.content,main{
  text-align: justify;
  background-color: #00b38f;
}
.content img{
  margin-top:50px;
  height:100%;
  width:100%;
}
main img{
  height:200px;
  width:200px;
  padding-left: 50px;
  margin-bottom: 20px;
}
h2{
  font-size: 40px;
}
h3{
  letter-spacing: 1px;
  text-align:center;
  color:#993366;
}
a{
  text-decoration: none;
}
h5,h6{
  text-align: center;
  padding-top:20px;
}
p{
  padding: 0px 20px;
  text-indent: 30px;
}
.subscribe{
  margin-right: 0;
}
.contact{
  margin-left: 0;
}
.bottom {
  padding-top: 10px;
  background-color: #FFB3B3;
  margin-left:20;
  position:absolute;left: 120;
}
.links{
  padding: 10px 0;
}
.bottom_nav{
    background-color:grey;
}
.links img{
  width:50px;
  height:50px;
  border-radius: 10px;
}

footer img{
  width:50px;
  height:50px;
  border-radius: 10px;
}
footer{
  width:960px;
  margin-left: auto;
}
header{
  background-color: #00b38f;
  position:fixed;
}
