#f_h1{
    letter-spacing: 2px;
    font-size: 40px;
    color: blue;
    text-align: center;
}

.bottom_1 img{
  height:200px;
  width:350px;
  padding-bottom: 10px;
}
.col1,.col2,.col3{
  margin-left: 0;
  margin-right: 0;
}
.content,main{
  text-align: justify;
  background: #94b8b8;
}
.content img{
  margin-top:50px;
  height:100%;
  width:100%;
}
main img{
  height:200px;
  width:200px;
  padding-left: 50px;
  margin-bottom: 20px;
}
h2{
  font-size: 40px;
}
h5,h6{
  text-align: center;
  padding-top:20px;
}
.footer1{
  background-color: #00b38f;
  width:940px;
  margin-left: 10px;
}

body{
  background: #383838;
  font-family: 'Slabo 27px', serif;
}
h1{
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  color:#CC0066;
}
.bottom img{
  height:200px;
  width:350px;
  padding-bottom: 10px;
}
footer h3{
  color: blue;
}
h2,h3{
  letter-spacing: 1px;
  text-align:center;
  color:#993366;
}
h4{
  color:blue;
}
header{
  background: #00b38f;
  position: fixed;
}
section{
  background: #94b8b8;
  margin-top: 80px;
}
a{
  text-decoration: none;
}
nav li,footer li{
    display:inline;
    padding:40 px;
}
nav{
    font-family: 'Bree Serif', serif;
    float: left;
    text-align: center;
    font-size: 20px;
}
section p{
  margin: 10px 20px;
  font-size: 15px;
}
.intro p{
  text-align: justify;
    text-indent: 30px;
}
.column1 img{
  width:400px;
  height:400px;
}
.column2 img{
  width:250px;
  height:100px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.intro img{
  margin: 0 100px ;
  width: 700px;
  height:300px;
}
.content1 img{
  width: 200px;
  height: 200px;
  padding-left: 10px;
  margin-bottom: 20px;
}
form li{
  color: black;
  margin-left: 20px;
  display: inline;
}
label{
  display:inline;
}
.column1,.column2{
  margin-top: 20px;
  margin-bottom: 20px;

}
.content1{
  background-color: #d9d9d9;

}
.subscribe{
  margin-right: 0;
}
.contact{
  margin-left: 0;
}
.bottom {
  padding-top: 10px;
  margin-left:20;
}
.links{
  padding: 10px 0;
}
.bottom_nav{
    background-color:grey;
}
.links img{
  width:50px;
  height:50px;
  border-radius: 10px;
}
footer{
  background-color: #00b38f;
  width:960px;
}
